<template>
<div>
  <canvas id='myCanvas' width="390" height='250' style="border:0px;">
Your browser does not support the HTML5 canvas tag.</canvas><br>
</div>

</template>

<script>
export default {
  name: 'CanvasMap',
  props: ['nivel'],
  data () {
    return {
      images: {
        mapa: require('@/assets/mapa.jpg')
      }
    }
  },
  beforeMount () {
    this.draw(this.user.nivel)
  },
  mounted () {
    this.draw(this.user.nivel)
  },
  updated () {
    this.draw(this.user.nivel)
  },

  computed: {
    user () {
      return this.$store.getters.getUser
    }
  },
  methods: {
    draw (ciudad) {
      var coord = [
        [40, 160],
        [95, 158],
        [136, 160],
        [175, 165],
        [210, 155],
        [215, 155],
        [238, 150],
        [270, 100]
      ]
      var c = document.getElementById('myCanvas')
      var ctx = c.getContext('2d')
      ctx.clearRect(0, 0, c.width, c.height)
      var img = new Image()
      img.src = this.images.mapa
      img.onload = function () {
        ctx.drawImage(img, 10, 10) // Or at whatever offset you like
        var radius = 10
        ctx.beginPath()
        ctx.arc(coord[ciudad][0], coord[ciudad][1], radius, 0, Math.PI * 2, true)
        ctx.strokeStyle = '#003300'
        ctx.fillStyle = '#ff0000'
        ctx.fill()
        ctx.stroke()
      }
    }
  }
}
</script>

<style>
</style>
