<template>
<v-container fluid grid-list-md>
  <v-layout row wrap>
    <v-flex xs12 sm8 md4>
      <v-card>
        <v-subheader>Lista de Equipos</v-subheader>
           <v-list>
            <v-list-tile v-for="team in equipos" :key="team.id" avatar @click="gestionar(team.id)">
              <v-list-tile-avatar>
                <img :src="team.avatar">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-text="team.name"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
      </v-card>
    </v-flex>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12" color="white black--text">
        <form action="" @submit.prevent="createTeam">
          <v-card-text>
            <v-text-field v-model="teamName" placeholder="Nombre del equipo" prepend-icon="person" label="Nombre del equipo" type="text" required></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green white--text" type="submit white--text" >Crear equipo</v-btn>
          </v-card-actions>
        </form>
      </v-card>
      </v-flex>
    </v-layout>
    </v-container>
</template>
<script>
import firebase from 'firebase'
import Navbar from './Navbar'
export default {
  name: 'equiposUsuario',
  components: {
    Navbar
  },
  created () {
    this.getListaEquipos()
    this.user = firebase.auth().currentUser
    this.name = 'error'
    if (this.user) {
      this.name = this.user.displayName
      this.email = this.user.email
      this.photo = this.user.photoURL
      this.userId = this.user.uid
    }
  },
  data: function () {
    return {
      teamName: null,
      equipos: {},
      photo: null,
      userId: null,
      name: null,
      email: null,
      user: {}
    }
  },
  methods: {
    getListaEquipos () {
      var found
      this.equipos = {}
      var TeamsRef = firebase.firestore().collection('Teams')
      TeamsRef.get()
        .then(snapshot => {
          snapshot.forEach(equipo => {
            found = false
            TeamsRef.doc(equipo.id).get().then(snapshot => {
              if (equipo.get('admin').localeCompare(this.user.uid) === 0) {
                this.$set(this.equipos, equipo.id, equipo.data())
                console.log('found team as admin', equipo.id)
                found = true
              }
            })
            if (!found) {
              TeamsRef.doc(equipo.id).collection('TeamMembers').get()
                .then(snapshot => {
                  snapshot.forEach(doc => {
                    if (this.userId === doc.id) {
                      this.$set(this.equipos, equipo.id, equipo.data())
                      console.log('found team', equipo.id)
                    }
                  })
                }).catch(err => console.log('Error geting documents', err))
            }
          })
        })
    },
    createTeam () {
      var newId = ''
      firebase.firestore().collection('Teams').add({
        name: this.teamName,
        admin: this.user.uid
      })
        .then(docRef => {
          newId = docRef.id
          console.log('Document written with ID: ', newId)
          firebase.firestore().collection('Teams').doc(docRef.id).update({
            id: docRef.id
          })
        })
        .then((_) => {
          firebase.firestore().collection('Teams').doc(newId)
            .collection('TeamMembers').doc(this.user.uid).set({
              uid: this.user.uid
            })
        }).catch(err => console.log('Error geting documents', err))
      this.getListaEquipos()
    },
    gestionar (arg) {
      console.log('gestiono', arg)
      this.$router.replace({name: 'gestionEquipo', params: {teamid: arg}})
    }
  }
}
</script>

<style scoped>

</style>
