<template>
<v-container fluid grid-list-md>
  <v-layout row wrap>
    <v-flex xs12 sm8 md4>
      <v-card>
        <div v-if="userId == adminId">
        <v-subheader>Añadir miembro</v-subheader>
        <form action="" @submit.prevent="addMember (email)">
        <v-card-text>
            <v-text-field v-model="email" placeholder="mail" prepend-icon="email" label="nombre del miembro" type="text" required></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green white--text" type="submit white--text" >Añadir</v-btn>
          </v-card-actions>
        </form>
        <v-divider></v-divider>
        </div>
        <v-subheader>Miembros de  {{teamName}} </v-subheader>
           <v-list>
            <v-list-tile v-for="user in users" :key="user.uid" avatar @click="gestionar(user.uid)">
              <v-list-tile-action>
                <v-icon v-if="user.uid === adminId" color="red">star</v-icon>
              </v-list-tile-action>
              <v-list-tile-avatar>
                <img :src="user.profile_picture">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-text="user.username"></v-list-tile-title>
                <v-list-tile-sub-title v-text="user.email"></v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon v-if= "userId === adminId && user.uid !== adminId" @click="eliminarMiembro (user.uid)"  color="gray">delete</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn  v-if="userId === adminId"  color="red white--text" @click="eliminarequipo()" type="submit white--text" >Eliminar equipo</v-btn>
            <v-btn  v-if="userId !== adminId" color="red white--text" @click="eliminarMiembro (userId)" type="submit white--text" >Salir</v-btn>
          </v-card-actions>
      </v-card>
    </v-flex>
    <v-flex v-if="userId == adminId" xs12 sm8 md4>
      <v-card class="elevation-12" color="white black--text">
      <v-subheader>Editar equipo</v-subheader>
        <form action="" @submit.prevent="update()">
          <v-card-text>
             <v-btn raised @click="pickImage"> Subir imagen</v-btn>
            <input type="file" style="display: none" ref="fileInput" accept="image/*" @change="onFilePicked">
            <img :src="avatar" height="150">
            <v-text-field type="text"  v-model="avatar" style="display: none" required ></v-text-field>
            <v-text-field v-model="teamName" placeholder="Nombre del equipo" prepend-icon="group" label="nombre del miembro" type="text" required></v-text-field>
          </v-card-text>
          <v-card-actions v-if="userId == adminId">
            <v-spacer></v-spacer>
            <v-btn color="green white--text" type="submit white--text" >Editar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
      </v-flex>
      <v-flex xs12 sm8 md4 lg4 xl4>
      <v-card>
        <v-subheader>Logros obtenidos</v-subheader>
           <v-list>
            <v-list-tile v-for="achievement in achievements" :key="achievement.id" avatar>
              <v-list-tile-avatar>
                <img :src="achievement.avatar">
              </v-list-tile-avatar>
              <v-list-tile-content @click="gestionar(achievement)">
                <v-list-tile-title v-text="achievement.name"></v-list-tile-title>
                <v-list-tile-sub-title v-text="'puntos' +achievement.points"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
      </v-card>
    </v-flex>
      <v-flex xs12 sm8 md4>
        <v-card>
          <v-toolbar flat>
            <v-toolbar-title>Insignias</v-toolbar-title>
          </v-toolbar>
          <v-container fluid grid>
              <v-flex grid v-for="Insignia in insignias" :key="Insignia.id">
                <img :src=Insignia.avatar class="image" alt="lorem" width="50%" >
              </v-flex>
          </v-container>
        </v-card>
      </v-flex>

    </v-layout>
    </v-container>
</template>

<script>

import firebase from 'firebase'
class Insignia {
  constructor (id, data) {
    this.id = data.id
    this.name = data.name
    this.avatar = data.avatar
    this.avatarRef = data.avatarRef
  }
}
class Achievement {
  constructor (id, data) {
    this.id = data.id
    this.name = data.name
    this.points = data.points
    this.description = data.description
    this.avatar = data.avatar
    this.avatarRef = data.avatarRef
  }
}
class User {
  constructor (id, data) {
    this.uid = data.uid
    this.username = data.username
    this.email = data.email
    this.nivel = data.nivel
    this.puntos = data.puntos
    this.profile_picture = data.profile_picture
  }
}
class TeamMember {
  constructor (id, data) {
    this.uid = id
  }
}

export default {
  name: 'gestionEquipo',
  props: ['teamid'],
  components: {},
  created () {
    this.getInsignias(this.teamid)
    this.getAchievements(this.teamid)
    this.teamDocRef = firebase.firestore().collection('Teams').doc(this.teamid)
    this.user = firebase.auth().currentUser
    if (this.user) {
      this.userId = this.user.uid
      firebase.firestore().collection('Users').doc(this.user.uid).get()
    }
    this.teamDocRef.get()
      .then((snapshot) => {
        this.teamName = snapshot.get('name')
        this.adminId = snapshot.get('admin')
        this.avatar = snapshot.get('avatar')
        this.avatarRef = snapshot.get('avatarRef')
      })

    this.getListausuarios()
  },
  data: function () {
    return {
      currentUser: {},
      team: {},
      membersid: [],
      users: [],
      achievements: [],
      insignias: [],
      userId: null,
      teamDocRef: null,
      teamName: null,
      adminId: null,
      avatar: null,
      avatarRef: null
    }
  },
  methods: {
    update () {
      firebase.firestore().collection('Teams').doc(this.teamid).update({
        name: this.teamName,
        avatar: this.avatar,
        avatarRef: this.avatarRef
      })
    },
    addMember (email) {
      const self = this
      var UsersRef = firebase.firestore().collection('Users')
      var teamMembersColRef = self.teamDocRef.collection('TeamMembers')
      UsersRef.where('email', '==', email).limit(1).get()
        .then(snapshot => {
          snapshot.forEach(doc => {
            console.log('encontrado usuario id:', doc.id)
            teamMembersColRef.doc(doc.id).set({
              uid: doc.id
            })
          })
        })
    },
    eliminarequipo () {
      var teamId = this.teamid
      var teamDocRef = this.teamDocRef
      teamDocRef.collection('TeamMembers').get().then(snapshot =>
        snapshot.forEach(doc => {
          console.log('elimino', doc.id)
          teamDocRef.collection('TeamMembers').doc(doc.id).delete()
        }))
        .then(function () {
          console.log('elimino', teamId)
          firebase.firestore().collection('Teams').doc(teamId).delete()
        }).then(this.$router.replace('EquiposUsuario'))
    },
    eliminarMiembro (uid) {
      console.log('elimino', uid)
      this.teamDocRef.collection('TeamMembers').doc(uid).delete()
    },
    getListausuarios () {
      const that = this
      var UsersRef = firebase.firestore().collection('Users')
      var TeamUsersRef = firebase.firestore().collection('Teams').doc(this.teamid).collection('TeamMembers')
      that.membersid = []
      TeamUsersRef.onSnapshot(snapshot => {
        snapshot.forEach(doc => {
          console.log('miembro', doc.data().uid)
          that.membersid.push(new TeamMember(doc.id, doc.data()))
          // this.$set(this.membersid, doc.id, doc.data())
          that.users = []
          UsersRef.where('uid', '==', doc.data().uid).limit(1).onSnapshot(snapshot => {
            snapshot.forEach(user => {
              that.users.push(new User(user.id, user.data()))
              // this.$set(this.users, user.id, user.data())
            })
          })
        })
      })
        .catch(err => console.log('Error geting documents', err))
    },
    gestionarUsuario (arg) {
      console.log('gestiono', arg)
    },
    getInsignias (id) {
      var that = this
      firebase.firestore().collection('Teams').doc(id).collection('TeamInsignias')
        .onSnapshot(function (querySnapshot) {
          that.insignias = []
          querySnapshot.forEach(function (doc) {
            firebase.firestore().collection('Insignias').where('id', '==', doc.data().oid).limit(1).get()
              .then(snapshot => {
                snapshot.forEach(doc => {
                  that.insignias.push(new Insignia(doc.id, doc.data()))
                })
              })
            console.log('atributo', doc.data().oid)
          })
        })
    },
    getAchievements (id) {
      var that = this
      firebase.firestore().collection('Teams').doc(id).collection('TeamAchievements')
        .onSnapshot(function (querySnapshot) {
          that.achievements = []
          querySnapshot.forEach(function (doc) {
            firebase.firestore().collection('Achievements').where('id', '==', doc.data().oid).limit(1).get()
              .then(snapshot => {
                snapshot.forEach(doc => {
                  that.achievements.push(new Achievement(doc.id, doc.data()))
                })
              })
          })
        })
    },
    // Subrutinas de imagenes
    pickImage () {
      this.$refs.fileInput.click()
    },
    // tratamiento insignias
    onFilePicked (event) {
      var ref = firebase.storage().ref('teams/')
      const files = event.target.files
      let file = files[0]
      const name = new Date().getTime() + file.name
      console.log(name)
      const metadata = { contentType: file.type }
      const task = ref.child(name).put(file, metadata)
      task.then((snapshot) => {
        const url = snapshot.downloadURL
        console.log(url)
        this.avatar = url
        this.avatarRef = 'teams/' + name
      }).catch((error) => {
        console.error(error)
      })
    }
  }
}
</script>
<style scoped>
    signUp {
     margin-top: 40px;
    }
    input{
        margin: 10px 0;
        width: 20%;
        padding: 15px;

    }
    button{
     margin-top: 10px;
     width: 10%;
     cursor: pointer;
    }
    span{
     display: block;
     margin-top: 20px;
     font-size: 11px;

    }

</style>
