<template>
    <div>
      <navbarAdmin/>
      <form action="" @submit.prevent="writeUser">
        <h3>Modificar cuenta</h3>
        <p>{{this.user.email}}</p>
        <input type="text"  v-model="name" required><br>
        <input type="text"  v-model="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Invalid format" placeholder="Email" required><br>
        <input type="password" v-model="password" pattern=".{6,}" title="Seis o más carácteres" placeholder="Contraseña" required><br>
        <input type="password" v-model="password2" placeholder="Repetir Contraseña" required><br>
        <input type="text"  v-model="profile_picture" required><br>
        <input type="date"  v-model="fecha" name="Fecha de nacimiento" required> <br>
        <button type="submit">Guardar Cambios</button>
      </form>
    </div>
</template>

<script>

import firebase from 'firebase'
import NavbarAdmin from './NavbarAdmin'
var admin = require('firebase-admin')
export default {
  name: 'gestionperfil',
  props: ['uid'],
  components: {
    NavbarAdmin
  },
  created () {
    this.user = admin.auth().getUser(this.uid)
    if (this.user) {
      firebase.firestore().collection('Users').doc(this.uid).get()
        .then((snapshot) => {
          this.name = snapshot.get('username')
          this.email = snapshot.get('email')
          this.fecha = snapshot.get('fechaNacimiento')
          this.profile_picture = snapshot.get('profile_picture')
          this.rol = snapshot.get('rol')
        })
    }
  },
  data () {
    return {
      name: null,
      email: null,
      password: null,
      password2: null,
      fecha: null,
      profile_picture: null,
      rol: null,
      user: {}
    }
  },
  methods: {
    writeUser () {
      if (this.password.localeCompare(this.password2) === 0) {
        if (this.user) {
          this.user.updateProfile({
            displayName: this.name,
            photoURL: this.profile_picture
          }).then((_) => {
            firebase.firestore().collection('Users').doc(this.user.uid).update({
              username: this.name,
              email: this.email,
              profile_picture: this.profile_picture,
              fechaNacimiento: this.fecha,
              rol: 'Cliente'
            })
          })
            .then((_) => this.user.updateEmail(this.email))
            .then((_) => this.user.updatePassword(this.password))
            .catch(function (error) {
              alert('Error ' + error.code + ' ' + error.message)
            })
        }
      } else {
        alert('las contrasñas no coinciden')
      }
    }
  }
}
</script>
<style scoped>
    signUp {
     margin-top: 40px;
    }
    input{
        margin: 10px 0;
        width: 20%;
        padding: 15px;

    }
    button{
     margin-top: 10px;
     width: 10%;
     cursor: pointer;
    }
    span{
     display: block;
     margin-top: 20px;
     font-size: 11px;

    }

</style>
