<template>
    <div class="create-team">
        <form action="" @submit.prevent="editName">
          <p>editar grupo</p>
          <p>{{teamid}}</p>
          <input type="text"  v-model="team.name" placeholder="Nombre del equipo" required><br>
          <button type="submit">Editar</button>
        </form>
        <button  v-on:click="eliminarequipo()">EliminarEquipo</button>
        <form action="" @submit.prevent="addMember(email)">
          <input type="text"  v-model="email" placeholder="email" required>
          <button type="submit">añadir miembro</button>
        </form>
    <h3>miembros del equipo</h3>
        <v-list v-for="user in users" :key=user.id>
          <a v-on:click="gestionarUsuario(user.uid)">
            {{user.email}} {{user.username}}
          </a>
          <button  v-on:click="eliminarMiembro(user.uid)">Eliminar</button>
            <button type="submit">Editar</button>
        </v-list>
    </div>
</template>

<script>

import firebase from 'firebase'
import NavbarAdmin from './NavbarAdmin'
export default {
  name: 'gestionEquipo',
  props: ['teamid'],
  components: {
    NavbarAdmin
  },
  created () {
    this.teamDocRef = firebase.firestore().collection('Teams').doc(this.teamid)
    this.getListausuarios()
    this.user = firebase.auth().currentUser
    if (this.user) {
      this.userId = this.user.uid
    }
    this.teamDocRef.get()
      .then((snapshot) => {
        this.team.name = snapshot.get('name')
        this.team.adminId = snapshot.get('admin')
      })
  },
  data: function () {
    return {
      team: {},
      membersid: {},
      users: {},
      userName: null,
      email: null,
      userId: null,
      teamDocRef: null,
      teamName: null
    }
  },
  methods: {
    editName () {
      this.teamDocRef.update({
        name: this.teamName
      })
    },
    addMember (email) {
      var UsersRef = firebase.firestore().collection('Users')
      var teamMembersColRef = this.teamDocRef.collection('TeamMembers')
      UsersRef.where('email', '==', email).limit(1).get()
        .then(snapshot => {
          snapshot.forEach(doc => {
            console.log('encontrado usuario id:', doc.id)
            teamMembersColRef.doc(doc.id).set({
              uid: doc.id
            })
          })
        }).then(this.getListausuarios())
    },
    eliminarequipo () {
      var teamId = this.teamid
      var teamDocRef = this.teamDocRef
      teamDocRef.collection('TeamMembers').get().then(snapshot =>
        snapshot.forEach(doc => {
          console.log('elimino', doc.id)
          teamDocRef.collection('TeamMembers').doc(doc.id).delete()
        }))
        .then(function () {
          console.log('elimino', teamId)
          firebase.firestore().collection('Teams').doc(teamId).delete()
        }).then(this.$router.replace('EquiposUsuario'))
    },
    eliminarMiembro (uid) {
      console.log('elimino', uid)
      this.teamDocRef.collection('TeamMembers').doc(uid).delete().then(this.getListausuarios())
    },
    getListausuarios () {
      this.membersid = {}
      this.users = {}
      var UsersRef = firebase.firestore().collection('Users')
      var TeamUsersRef = firebase.firestore().collection('Teams').doc(this.teamid).collection('TeamMembers')
      TeamUsersRef.get()
        .then(snapshot => {
          snapshot.forEach(doc => {
            console.log('miembro', doc.data().uid)
            this.$set(this.membersid, doc.id, doc.data())
            UsersRef.where('uid', '==', doc.data().uid).limit(1).get()
              .then(snapshot => {
                snapshot.forEach(user => {
                  this.$set(this.users, user.id, user.data())
                })
              })
          })
        })
        .catch(err => console.log('Error geting documents', err))
    },
    gestionarUsuario (arg) {
      console.log('gestiono', arg)
    }
  }
}
</script>
<style scoped>
    signUp {
     margin-top: 40px;
    }
    input{
        margin: 10px 0;
        width: 20%;
        padding: 15px;

    }
    button{
     margin-top: 10px;
     width: 10%;
     cursor: pointer;
    }
    span{
     display: block;
     margin-top: 20px;
     font-size: 11px;

    }

</style>
