<template>
  <div class="helloadmin">
    <div>
        <img :src="this.photo" style="height: 120px"> <br>
        <h3>estas logueado administrador {{this.name}}</h3>
        <h3>{{this.email}}</h3>
    </div>
      </div>
</template>

<script>
import firebase from 'firebase'
import NavbarAdmin from './NavbarAdmin'
export default {
  name: 'helloadmin',
  components: {
    NavbarAdmin
  },
  created () {
    this.user = firebase.auth().currentUser
    this.name = 'error'
    if (this.user) {
      this.name = this.user.displayName
      this.email = this.user.email
      this.photo = this.user.photoURL
      this.userId = this.user.uid
    }
  },
  data: function () {
    return {
      msg: 'Welcome to Your Vue.js App',
      photo: 'http://www.ablaempleo.es/wp-content/uploads/2015/01/error.png',
      userId: 'error',
      name: null,
      email: 'error@error.com',
      user: {}
    }
  },
  methods: {}
}
</script>

<style scoped>

</style>
