<template>
    <v-container fluid grid-list-md>
      <v-layout row wrap>
      <v-flex xs12 sm4 xl4>
              <v-card color="purple" class="white--text">
                  <v-layout row>
                    <v-flex >
                      <v-card-media
                        :src=photo
                        height="125px"
                        contain
                      ></v-card-media>
                    </v-flex>
                    <v-flex>
                      <div>
                        <div class="headline">{{name}}</div>
                        <div>Nivel {{nivel}}</div>
                        <div>Puntos {{puntos}}</div>
                      </div>
                    </v-flex>
                  </v-layout>
              </v-card>
            </v-flex>
        <v-flex>
          <v-card  flat color="white black--text">
            <v-toolbar color="light-blue" dark>
            <v-toolbar-title class="white--text">User Qr Code </v-toolbar-title>
            </v-toolbar>
            <div class="text-xs-center">
                <qriously :value=this.user.uid :size="150" />
            </div>
            </v-card>
        </v-flex>
        <v-flex >
          <v-card color="white">
          <v-toolbar color="light-blue" dark>
          <v-toolbar-title class="white--text">Level map </v-toolbar-title>
          </v-toolbar>
          <div class="text-xs-center">
            <CanvasMap :nivel=this.nivel></CanvasMap>
          </div>
          </v-card>
        </v-flex>
         <v-flex xs12 sm8 md4 lg4 xl4>
      <v-card>
        <v-subheader>Logros obtenidos</v-subheader>
           <v-list>
            <v-list-tile v-for="achievement in achievements" :key="achievement.id" avatar>
              <v-list-tile-avatar>
                <img :src="achievement.avatar">
              </v-list-tile-avatar>
              <v-list-tile-content @click="gestionar(achievement)">
                <v-list-tile-title v-text="achievement.name"></v-list-tile-title>
                <v-list-tile-sub-title v-text="'puntos' +achievement.points"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
      </v-card>
    </v-flex>
        <v-flex xs12 sm8 md4>
        <v-card>
          <v-toolbar flat>
            <v-toolbar-title>Insignias</v-toolbar-title>
          </v-toolbar>
          <v-container fluid grid>
              <v-flex grid v-for="Insignia in insignias" :key="Insignia.id">
                <img :src=Insignia.avatar class="image" alt="lorem" width="50%" >
              </v-flex>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import firebase from 'firebase'
import Navbar from './Navbar'
import CanvasMap from './CanvasMap'
class Insignia {
  constructor (id, data) {
    this.id = data.id
    this.name = data.name
    this.avatar = data.avatar
    this.avatarRef = data.avatarRef
  }
}
class Achievement {
  constructor (id, data) {
    this.id = data.id
    this.name = data.name
    this.points = data.points
    this.description = data.description
    this.avatar = data.avatar
    this.avatarRef = data.avatarRef
  }
}
export default {
  name: 'helloworld',
  components: {
    Navbar,
    CanvasMap
  },
  created () {
    this.user = firebase.auth().currentUser
    if (this.user) {
      this.photo = this.user.photoURL
      this.userId = this.user.uid
      this.getAchievements(this.user)
      this.getInsignias(this.user)
      firebase.firestore().collection('Users').doc(this.user.uid).get()
        .then((snapshot) => {
          this.name = snapshot.get('username')
          this.email = snapshot.get('email')
          this.fechaNacimiento = snapshot.get('fechaNacimiento')
          this.profile_picture = snapshot.get('profile_picture')
          this.rol = snapshot.get('rol')
          this.nivel = snapshot.get('nivel')
          this.puntos = snapshot.get('puntos')
        })
    }
  },
  data: function () {
    return {
      msg: 'Welcome to Your Vue.js App',
      photo: 'http://www.ablaempleo.es/wp-content/uploads/2015/01/error.png',
      userId: 'error',
      name: null,
      email: 'error@error.com',
      rol: null,
      puntos: null,
      nivel: null,
      user: {},
      insignias: [],
      achievements: []
    }
  },
  methods: {
    getInsignias (user) {
      var that = this
      firebase.firestore().collection('Users').doc(user.uid).collection('UserInsignias')
        .onSnapshot(function (querySnapshot) {
          that.insignias = []
          querySnapshot.forEach(function (doc) {
            firebase.firestore().collection('Insignias').where('id', '==', doc.data().oid).limit(1).get()
              .then(snapshot => {
                snapshot.forEach(doc => {
                  that.insignias.push(new Insignia(doc.id, doc.data()))
                })
              })
            console.log('atributo', doc.data().oid)
          })
        })
    },
    getAchievements (user) {
      var that = this
      firebase.firestore().collection('Users').doc(user.uid).collection('UserAchievements')
        .onSnapshot(function (querySnapshot) {
          that.achievements = []
          querySnapshot.forEach(function (doc) {
            firebase.firestore().collection('Achievements').where('id', '==', doc.data().oid).limit(1).get()
              .then(snapshot => {
                snapshot.forEach(doc => {
                  that.achievements.push(new Achievement(doc.id, doc.data()))
                })
              })
          })
        })
    }
  }
}
</script>

<style scoped>

</style>
