<template>
  <div class="helloadmin">
    <v-flex xs12 sm6 offset-sm3>
    <div>
      <v-card color="white">
      <v-card-title>
      <div class="headline">Lista de Usuaruios</div>
      </v-card-title>
          <v-list>
            <v-list-tile v-for="user in usuarios" :key="user.key" avatar @click="gestionarUsuario (user.uid)">
              <v-list-tile-avatar>
                <img :src="user.profile_picture">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-text="user.username"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
      </v-card>
    </div>
    </v-flex>
      </div>
</template>

<script>
import firebase from 'firebase'
import NavbarAdmin from './NavbarAdmin'
export default {
  name: 'listaUsuarios',
  components: {
    NavbarAdmin
  },
  created () {
    this.getListausuarios()
    this.user = firebase.auth().currentUser
    this.name = 'error'
    if (this.user) {
      this.name = this.user.displayName
      this.email = this.user.email
      this.photo = this.user.photoURL
      this.userId = this.user.uid
    }
  },
  data: function () {
    return {
      usuarios: {},
      photo: null,
      userId: null,
      name: null,
      email: null,
      user: {}
    }
  },
  methods: {
    getListausuarios () {
      this.usuarios = {}
      var UsersRef = firebase.firestore().collection('Users')
      UsersRef.get()
        .then(snapshot => {
          snapshot.forEach(doc => {
            this.$set(this.usuarios, doc.id, doc.data())
          })
        }).catch(err => console.log('Error geting documents', err))
    },
    gestionarUsuario (arg) {
      console.log('gestiono', arg)
      this.$router.replace({name: 'userManagement', params: {userid: arg}})
    }
  }
}
</script>

<style scoped>
li a:hover:not(.active) {
    background-color: rgb(172, 172, 172);
}
</style>
