<template>
<v-container fluid grid-list-md>
  <v-layout row wrap>
  <v-flex xs12 sm8 md4>
      <v-card>
        <v-subheader>Crear Nivel</v-subheader>
        <form action="" @submit.prevent="createlvl">
        <v-btn raised @click="pickImageLvl">Subir imagen</v-btn>
        <input type="file" style="display: none" ref="fileInputLvl" accept="image/*" @change="onFilePickedLvl">
        <img :src="lvlavatar" height="150">
        <v-text-field type="text"  v-model="lvlavatar" style="display: none" required ></v-text-field>
        <v-text-field v-model="lvlname" placeholder="Nombre del nivel" prepend-icon="star" type="text" required></v-text-field>
        <v-text-field v-model="level" placeholder="Nivel" prepend-icon="star" type="text" required></v-text-field>
        <v-btn color="green white--text" type="submit white--text" >Crear Nivel</v-btn>
        </form>
        <v-divider></v-divider>
        <v-subheader>Lista de Niveles</v-subheader>
           <v-list>
            <v-list-tile v-for="level in levels" :key="level.id" avatar>
              <v-list-tile-avatar>
                <img :src="level.avatar">
              </v-list-tile-avatar>
              <v-list-tile-content @click="gestionarlvl(level)">
                <v-list-tile-title v-text="level.name"></v-list-tile-title>
                <v-list-tile-sub-title v-text="level.id"></v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon @click="deleteLvl(level)" color="gray">delete</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
      </v-card>
    </v-flex>

    <v-flex xs12 sm8 md4>
      <v-card v-if="selectedLvl">
        <v-subheader>Editar Nivel</v-subheader>
        <form action="" @submit.prevent="updateLvl(selectedLvl)">
        <v-btn raised @click="pickImageEditLvl">Subir imagen</v-btn>
        <input type="file" style="display: none" ref="fileInputEditLvl" accept="image/*" @change="onFilePickedEditLvl">
        <img :src="selectedLvl.avatar" height="150">
        <v-text-field type="text"  v-model="selectedLvl.avatar" style="display: none" required ></v-text-field>
        <v-text-field v-model="selectedLvl.name" placeholder="Nombre del nivel" prepend-icon="star" type="text" required></v-text-field>
        <v-text-field v-model="selectedLvl.level" placeholder="Nivel" prepend-icon="star" type="text" required></v-text-field>
        <v-btn color="green white--text" type="submit white--text" >Editar</v-btn>
        </form>
        <v-divider></v-divider>
        <v-subheader>Lista de Misiones</v-subheader>
           <v-list>
            <v-list-tile v-for="mission in missions" :key="mission.id" avatar>
              <v-list-tile-content @click="gestionar(mission)">
                <v-list-tile-title v-text="mission.name"></v-list-tile-title>
                <v-list-tile-sub-title v-text="mission.id"></v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon @click="deleteMission(mission)" color="gray">delete</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
      </v-card>
    </v-flex>
      <v-flex xs12 sm8 md4>
      <!-- tarjeta seleccionada-->
      <v-card v-if="selectedObj" class="elevation-12" color="white black--text">
        <v-subheader>Editar Misión</v-subheader>
        <form action="" @submit.prevent="updateMission(selectedObj)">
          <v-card-text>
              <v-btn raised @click="pickImage">Subir imagen</v-btn>
              <input type="file" style="display: none" ref="fileInputEdit" accept="image/*" @change="onFilePickedEdit">
              <img :src="selectedObj.avatar" height="150">
              <v-text-field type="text"  v-model="selectedObj.avatar" style="display: none" required ></v-text-field>
              <v-text-field v-model="selectedObj.name" placeholder="Nombre de la mision" prepend-icon="star" type="text" required></v-text-field>
              <v-text-field v-model="selectedObj.points" placeholder="puntos" prepend-icon="star" type="text" required></v-text-field>
              <v-text-field v-model="selectedObj.description" :counter="120" :rules="[(v) => v.length <= 120 || 'Max 120 characters']" label="descripcion" full-width multi-line single-line></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green white--text" type="submit white--text" >Actualizar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
      </v-flex>
      <v-flex xs12 sm8 md4>
      <v-card  v-if="selectedLvl" class="elevation-12" color="white black--text">
        <v-subheader>Crear Misión</v-subheader>
        <form action="" @submit.prevent="createMission">
          <v-card-text>
              <v-btn raised @click="pickImage">Subir imagen</v-btn>
              <input type="file" style="display: none" ref="fileInput" accept="image/*" @change="onFilePicked">
              <img :src="avatar" height="150">
              <v-text-field type="text"  v-model="avatar" style="display: none" required ></v-text-field>
              <v-text-field v-model="name" placeholder="Nombre de la mision" prepend-icon="star" type="text" required></v-text-field>
              <v-text-field v-model="points" placeholder="puntos" prepend-icon="star" type="text" required></v-text-field>
              <v-text-field v-model="description" :counter="120" :rules="[(v) => v.length <= 120 || 'Max 120 characters']" label="descripcion" full-width multi-line single-line></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green white--text" type="submit white--text" >Crear Misión</v-btn>
          </v-card-actions>
        </form>
      </v-card>
      </v-flex>
    </v-layout>
    </v-container>
</template>
<script>
import firebase from 'firebase'
class Mission {
  constructor (id, data) {
    this.id = data.id
    this.name = data.name
    this.points = data.points
    this.description = data.description
    this.avatar = data.avatar
    this.avatarRef = data.avatarRef
  }
}
class Level {
  constructor (id, data) {
    this.id = data.id
    this.name = data.name
    this.level = data.level
    this.avatar = data.avatar
    this.avatarRef = data.avatarRef
  }
}
export default {
  name: 'lisinsignias',
  components: {},
  created () {
    this.getLevels()
    this.colRef = firebase.firestore().collection('Levels')
  },
  data: function () {
    return {
      selectedObj: null,
      selectedLvl: null,
      levels: [],
      missions: [],
      lvlname: null,
      lvlavatar: null,
      lvlavatarRef: null,
      level: null,
      name: null,
      avatar: null,
      avatarRef: null,
      colRef: null,
      points: null,
      description: null
    }
  },
  methods: {
    getMissions () {
      var that = this
      firebase.firestore().collection('Levels').doc(that.selectedLvl.id).collection('Missions').onSnapshot(function (querySnapshot) {
        that.missions = []
        querySnapshot.forEach(function (doc) {
          that.missions.push(new Mission(doc.id, doc.data()))
        })
      })
    },
    getLevels () {
      var that = this
      firebase.firestore().collection('Levels').onSnapshot(function (querySnapshot) {
        that.levels = []
        querySnapshot.forEach(function (doc) {
          that.levels.push(new Level(doc.id, doc.data()))
        })
      })
    },
    createlvl () {
      var newId = ''
      firebase.firestore().collection('Levels').add({
        name: this.lvlname,
        avatar: this.lvlavatar,
        avatarRef: this.lvlavatarRef,
        level: this.level
      })
        .then(docRef => {
          newId = docRef.id
          console.log('Document written with ID: ', newId)
          firebase.firestore().collection('Levels').doc(docRef.id).update({
            id: docRef.id
          })
        })
        .catch(err => console.log('writting ', err))
    },
    createMission () {
      var newId = ''
      firebase.firestore().collection('Levels').doc(this.selectedLvl.id).collection('Missions').add({
        name: this.name,
        avatar: this.avatar,
        avatarRef: this.avatarRef,
        points: this.points,
        description: this.description
      })
        .then(docRef => {
          newId = docRef.id
          console.log('Document written with ID: ', newId)
          firebase.firestore().collection('Levels').doc(this.selectedLvl.id).collection('Missions').doc(docRef.id).update({
            id: docRef.id
          })
        })
        .catch(err => console.log('writting ', err))
    },
    deleteObj (objeto) {
      console.log('elimino', objeto.id)
      var storage = firebase.storage()
      var storageRef = storage.ref()
      var ref = storageRef.child(objeto.avatarRef)
      ref.delete()
      this.colRef.doc(objeto.id).delete()
    },
    deleteLvl (lvl) {
      console.log('elimino', lvl.id)
      var storage = firebase.storage()
      var storageRef = storage.ref()
      var ref = storageRef.child(lvl.avatarRef)
      ref.delete()
      var lvlDocRef = this.colRef.doc(lvl.id)
      lvlDocRef.collection('Misisons').get().then(snapshot =>
        snapshot.forEach(doc => {
          console.log('elimino', doc.id)
          lvlDocRef.collection('Missions').doc(doc.id).delete()
        }))
        .then(function () {
          console.log('elimino', lvl.id)
          firebase.firestore().collection('Levels').doc(lvl.id).delete()
        }).then(this.selectedLvl = null)
    },
    deleteMission (objeto) {
      console.log('elimino', objeto.id)
      var storage = firebase.storage()
      var storageRef = storage.ref()
      var ref = storageRef.child(objeto.avatarRef)
      ref.delete()
      this.colRef.doc(this.selectedLvl.id).collection('Missions').doc(objeto.id).delete()
      this.selectedObj = null
    },

    updateLvl (lvl) {
      this.colRef.doc(lvl.id).update({
        level: lvl.level,
        name: lvl.name,
        avatar: lvl.avatar,
        avatarRef: lvl.avatarRef
      })
    },
    updateMission (mission) {
      this.colRef.doc(this.selectedLvl.id).collection('Missions').doc(mission.id).update({
        id: mission.id,
        name: mission.name,
        description: mission.description,
        avatar: mission.avatar,
        avatarRef: mission.avatarRef
      })
    },
    gestionar (obj) {
      console.log('gestiono', obj.id)
      this.selectedObj = Object.assign({}, obj)
    },
    gestionarlvl (obj) {
      console.log('gestiono', obj.id)
      this.selectedLvl = Object.assign({}, obj)
      this.getMissions()
      this.selectedObj = null
    },
    // ///////////////////////////////////////// IMAGENES MISIONES/////////////////

    pickImage () {
      this.$refs.fileInput.click()
    },
    // tratamiento imágenes
    onFilePicked (event) {
      var ref = firebase.storage().ref('missions/')
      const files = event.target.files
      let file = files[0]
      const name = new Date().getTime() + file.name
      console.log(name)
      const metadata = { contentType: file.type }
      const task = ref.child(name).put(file, metadata)
      task.then((snapshot) => {
        const url = snapshot.downloadURL
        console.log(url)
        this.avatar = url
        this.avatarRef = 'missions/' + name
      }).catch((error) => {
        console.error(error)
      })
    },
    pickImageEdit () {
      this.$refs.fileInputEdit.click()
    },
    // tratamiento insignias
    onFilePickedEdit (event) {
      var ref = firebase.storage().ref('missions/')
      const files = event.target.files
      let file = files[0]
      const name = new Date().getTime() + file.name
      console.log(name)
      const metadata = { contentType: file.type }
      const task = ref.child(name).put(file, metadata)
      task.then((snapshot) => {
        const url = snapshot.downloadURL
        console.log(url)
        this.selectedObj.avatar = url
        this.selectedObj.avatarRef = 'missions/' + name
      }).catch((error) => {
        console.error(error)
      })
    },
    // ///////////////////////////////////////// IMAGENES NIVELES/////////////////

    pickImageLvl () {
      this.$refs.fileInputLvl.click()
    },
    // tratamiento imágenes
    onFilePickedLvl (event) {
      var ref = firebase.storage().ref('levels/')
      const files = event.target.files
      let file = files[0]
      const name = new Date().getTime() + file.name
      console.log(name)
      const metadata = { contentType: file.type }
      const task = ref.child(name).put(file, metadata)
      task.then((snapshot) => {
        const url = snapshot.downloadURL
        console.log(url)
        this.lvlavatar = url
        this.lvlavatarRef = 'levels/' + name
      }).catch((error) => {
        console.error(error)
      })
    },
    pickImageEditLvl () {
      this.$refs.fileInputEditLvl.click()
    },
    // tratamiento insignias
    onFilePickedEditLvl (event) {
      var ref = firebase.storage().ref('levels/')
      const files = event.target.files
      let file = files[0]
      const name = new Date().getTime() + file.name
      console.log(name)
      const metadata = { contentType: file.type }
      const task = ref.child(name).put(file, metadata)
      task.then((snapshot) => {
        const url = snapshot.downloadURL
        console.log(url)
        this.selectedLvl.avatar = url
        this.selectedLvl.avatarRef = 'levels/' + name
      }).catch((error) => {
        console.error(error)
      })
    }
  }
}
</script>

<style scoped>

</style>
