<template>
    <v-container>
    <v-layout>
    <v-flex xs12 sm6 offset-sm3>
            <v-subheader>Lista de Equipos</v-subheader>
           <v-list>
            <v-list-tile v-for="team in equipos" :key="team.id" avatar @click="gestionarEquipo(team.id)">
              <v-list-tile-avatar>
                <img :src="team.avatar">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-text="team.name"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
    </v-flex>
    </v-layout>
    </v-container>
</template>

<script>
import firebase from 'firebase'
import NavbarAdmin from './NavbarAdmin'
export default {
  name: 'listaEquipos',
  components: {
    NavbarAdmin
  },
  created () {
    this.getListaEquipos()
    this.user = firebase.auth().currentUser
    this.name = 'error'
    if (this.user) {
      this.name = this.user.displayName
      this.email = this.user.email
      this.photo = this.user.photoURL
      this.userId = this.user.uid
    }
  },
  data: function () {
    return {
      equipos: {},
      photo: null,
      userId: null,
      name: null,
      email: null,
      user: {}
    }
  },
  methods: {
    getListaEquipos () {
      this.equipos = {}
      var UsersRef = firebase.firestore().collection('Teams')
      UsersRef.get()
        .then(snapshot => {
          snapshot.forEach(doc => {
            this.$set(this.equipos, doc.id, doc.data())
          })
        }).catch(err => console.log('Error geting documents', err))
    },
    gestionarEquipo (arg) {
      console.log('gestiono', arg)
      this.$router.replace({name: 'GestionEquipoAdmin', params: {teamid: arg}})
    }
  }
}
</script>

<style scoped>

</style>
