<template>
<v-container fluid grid-list-md>
  <v-layout row wrap>
    <v-flex xs12 sm8 md4>
      <v-card>
        <v-subheader>Lista de Premios</v-subheader>
           <v-list>
            <v-list-tile v-for="prize in prizes" :key="prize.id" avatar>
              <v-list-tile-avatar>
                <img :src="prize.avatar">
              </v-list-tile-avatar>
              <v-list-tile-content @click="gestionar(prize)">
                <v-list-tile-title v-text="prize.name"></v-list-tile-title>
                <v-list-tile-sub-title v-text="prize.id"></v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon @click="deleteObj(prize)" color="gray">delete</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
      </v-card>
    </v-flex>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12" color="white black--text">
        <v-subheader>Crear Premio</v-subheader>
        <form action="" @submit.prevent="create">
          <v-card-text>
              <v-btn raised @click="pickImage">Subir imagen</v-btn>
              <input type="file" style="display: none" ref="fileInput" accept="image/*" @change="onFilePicked">
              <img :src="avatar" height="150">
              <v-text-field type="text"  v-model="avatar" style="display: none" required ></v-text-field>
              <v-text-field v-model="name" placeholder="Nombre del logro" prepend-icon="star" type="text" required></v-text-field>
              <v-text-field v-model="description" :counter="120" :rules="[(v) => v.length <= 120 || 'Max 120 characters']" label="Descripción" full-width multi-line single-line></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green white--text" type="submit white--text" >Crear</v-btn>
          </v-card-actions>
        </form>
      </v-card>
      </v-flex>
      <v-flex xs12 sm8 md4>
      <!-- tarjeta seleccionada-->
      <v-card v-if="selectedObj" class="elevation-12" color="white black--text">
        <v-subheader>Editar Premio</v-subheader>
        <form action="" @submit.prevent="update(selectedObj)">
          <v-card-text>
              <v-btn raised @click="pickImageEdit">Subir imagen</v-btn>
              <input type="file" style="display: none" ref="fileInputEdit" accept="image/*" @change="onFilePickedEdit">
              <img :src="selectedObj.avatar" height="150">
              <v-text-field type="text"  v-model="selectedObj.avatar" style="display: none" required ></v-text-field>
              <v-text-field v-model="selectedObj.name" placeholder="Nombre del logro" prepend-icon="star" type="text" required></v-text-field>
              <v-text-field v-model="selectedObj.description" :counter="120" :rules="[(v) => v.length <= 120 || 'Max 120 characters']" label="Descripción" full-width multi-line single-line></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green white--text" type="submit white--text" >Actualizar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
      </v-flex>
    </v-layout>
    </v-container>
</template>
<script>
import firebase from 'firebase'
class Prize {
  constructor (id, data) {
    this.id = data.id
    this.name = data.name
    this.description = data.description
    this.avatar = data.avatar
    this.avatarRef = data.avatarRef
  }
}
export default {
  name: 'lisinsignias',
  components: {},
  created () {
    this.getAchievements()
    this.colRef = firebase.firestore().collection('Prizes')
  },
  data: function () {
    return {
      selectedObj: null,
      prizes: [],
      name: null,
      avatar: null,
      colRef: null,
      level: null,
      points: null,
      description: null
    }
  },
  methods: {
    getAchievements () {
      var that = this
      firebase.firestore().collection('Prizes').onSnapshot(function (querySnapshot) {
        that.prizes = []
        querySnapshot.forEach(function (doc) {
          that.prizes.push(new Prize(doc.id, doc.data()))
        })
      })
    },
    create () {
      var newId = ''
      firebase.firestore().collection('Prizes').add({
        name: this.name,
        avatar: this.avatar,
        avatarRef: this.avatarRef,
        description: this.description
      })
        .then(docRef => {
          newId = docRef.id
          console.log('Document written with ID: ', newId)
          firebase.firestore().collection('Prizes').doc(docRef.id).update({
            id: docRef.id
          })
        })
        .catch(err => console.log('writting ', err))
    },
    deleteObj (objeto) {
      console.log('elimino', objeto.id)
      var storage = firebase.storage()
      var storageRef = storage.ref()
      var ref = storageRef.child(objeto.avatarRef)
      ref.delete()
      this.colRef.doc(objeto.id).delete()
    },
    update (obj) {
      this.colRef.doc(obj.id).update({
        name: obj.name,
        avatar: obj.avatar,
        avatarRef: obj.avatarRef,
        description: obj.description
      })
    },
    gestionar (obj) {
      console.log('gestiono', obj.id)
      this.selectedObj = Object.assign({}, obj)
    },
    pickImage () {
      this.$refs.fileInput.click()
    },
    // tratamiento imágenes
    onFilePicked (event) {
      var ref = firebase.storage().ref('prizes/')
      const files = event.target.files
      let file = files[0]
      const name = new Date().getTime() + file.name
      console.log(name)
      const metadata = { contentType: file.type }
      const task = ref.child(name).put(file, metadata)
      task.then((snapshot) => {
        const url = snapshot.downloadURL
        console.log(url)
        this.avatar = url
        this.avatarRef = 'prizes/' + name
      }).catch((error) => {
        console.error(error)
      })
    },
    pickImageEdit () {
      this.$refs.fileInputEdit.click()
    },
    // tratamiento insignias
    onFilePickedEdit (event) {
      var ref = firebase.storage().ref('prizes/')
      const files = event.target.files
      let file = files[0]
      const name = new Date().getTime() + file.name
      console.log(name)
      const metadata = { contentType: file.type }
      const task = ref.child(name).put(file, metadata)
      task.then((snapshot) => {
        const url = snapshot.downloadURL
        console.log(url)
        this.selectedObj.avatar = url
        this.selectedObj.avatarRef = 'prizes/' + name
      }).catch((error) => {
        console.error(error)
      })
    }
  }
}
</script>

<style scoped>

</style>
