<template>
<v-container fluid grid-list-md>
  <v-layout row wrap>
    <v-flex xs12 sm8 md4>
      <v-card>
        <v-subheader>Lista de Insignias</v-subheader>
           <v-list>
            <v-list-tile v-for="insignia in insignias" :key="insignia.id" avatar>
              <v-list-tile-avatar>
                <img :src="insignia.avatar">
              </v-list-tile-avatar>
              <v-list-tile-content @click="gestionar(insignia)">
                <v-list-tile-title v-text="insignia.name"></v-list-tile-title>
                <v-list-tile-sub-title v-text="insignia.id"></v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon @click="eliminarInsignia (insignia)"  color="gray">delete</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
      </v-card>
    </v-flex>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12" color="white black--text">
        <v-subheader>Crear Insignia</v-subheader>
        <form action="" @submit.prevent="createInsignia">
          <v-card-text>
              <v-btn raised @click="pickImage"> Subir imagen</v-btn>
              <input type="file" style="display: none" ref="fileInput" accept="image/*" @change="onFilePicked">
              <img :src="avatar" height="150">
              <v-text-field type="text"  v-model="avatar" style="display: none" required ></v-text-field>
              <v-text-field v-model="name" placeholder="Nombre de la insignia" prepend-icon="star" type="text" required></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green white--text" type="submit white--text" >Crear Insignia</v-btn>
          </v-card-actions>
        </form>
      </v-card>
      </v-flex>
      <v-flex xs12 sm8 md4>
      <!-- tarjeta seleccionada-->
      <v-card v-if="selectedInsignia" class="elevation-12" color="white black--text">
        <v-subheader>Editar Insignia</v-subheader>
        <form action="" @submit.prevent="update(selectedInsignia)">
          <v-card-text>
              <v-btn raised @click="pickImage"> Subir imagen</v-btn>
              <input type="file" style="display: none" ref="fileInputEdit" accept="image/*" @change="onFilePickedEdit">
              <img :src="selectedInsignia.avatar" height="150">
              <v-text-field type="text"  v-model="selectedInsignia.avatar" style="display: none" required ></v-text-field>
              <v-text-field v-model="selectedInsignia.name" placeholder="Nombre de la insignia" prepend-icon="star" type="text" required></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green white--text" type="submit white--text" >Actualizar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
      </v-flex>
    </v-layout>
    </v-container>
</template>
<script>
import firebase from 'firebase'
class Insignia {
  constructor (id, data) {
    this.id = data.id
    this.name = data.name
    this.avatar = data.avatar
    this.avatarRef = data.avatarRef
  }
}
export default {
  name: 'lisinsignias',
  components: {},
  created () {
    this.getInsignias()
    this.colRef = firebase.firestore().collection('Insignias')
  },
  data: function () {
    return {
      selectedInsignia: null,
      insignias: [],
      name: null,
      avatar: null,
      colRef: null
    }
  },
  methods: {
    getInsignias () {
      var that = this
      firebase.firestore().collection('Insignias').onSnapshot(function (querySnapshot) {
        that.insignias = []
        querySnapshot.forEach(function (doc) {
          that.insignias.push(new Insignia(doc.id, doc.data()))
        })
      })
    },
    createInsignia () {
      var newId = ''
      firebase.firestore().collection('Insignias').add({
        name: this.name,
        avatar: this.avatar,
        avatarRef: this.avatarRef
      })
        .then(docRef => {
          newId = docRef.id
          console.log('Document written with ID: ', newId)
          firebase.firestore().collection('Insignias').doc(docRef.id).update({
            id: docRef.id
          })
        })
        .catch(err => console.log('writting ', err))
    },
    eliminarInsignia (objeto) {
      console.log('elimino', objeto.id)
      var storage = firebase.storage()
      var storageRef = storage.ref()
      var ref = storageRef.child(objeto.avatarRef)
      ref.delete()
      firebase.firestore().collection('Insignias').doc(objeto.id).delete()
    },
    update (obj) {
      this.colRef.doc(obj.id).update({
        id: obj.id,
        name: obj.name,
        avatar: obj.avatar,
        avatarRef: obj.avatarRef
      })
    },
    gestionar (obj) {
      console.log('gestiono', obj.id)
      this.selectedInsignia = Object.assign({}, obj)
    },
    pickImage () {
      this.$refs.fileInput.click()
    },
    // tratamiento insignias
    onFilePicked (event) {
      var ref = firebase.storage().ref('insignias/')
      const files = event.target.files
      let file = files[0]
      const name = new Date().getTime() + file.name
      console.log(name)
      const metadata = { contentType: file.type }
      const task = ref.child(name).put(file, metadata)
      task.then((snapshot) => {
        const url = snapshot.downloadURL
        console.log(url)
        this.avatar = url
        this.avatarRef = 'insignias/' + name
      }).catch((error) => {
        console.error(error)
      })
    },
    pickImageEdit () {
      this.$refs.fileInputEdit.click()
    },
    // tratamiento insignias
    onFilePickedEdit (event) {
      var ref = firebase.storage().ref('insignias/')
      const files = event.target.files
      let file = files[0]
      const name = new Date().getTime() + file.name
      console.log(name)
      const metadata = { contentType: file.type }
      const task = ref.child(name).put(file, metadata)
      task.then((snapshot) => {
        const url = snapshot.downloadURL
        console.log(url)
        this.selectedInsignia.avatar = url
        this.selectedInsignia.avatarRef = 'insignias/' + name
      }).catch((error) => {
        console.error(error)
      })
    }
  }
}
</script>

<style scoped>

</style>
