<template>
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12" color="white black--text">
              <form action="" @submit.prevent="signIn()">
               <v-card-media
                  :src= images.logo
                  height="200px"
                  contain
              ></v-card-media>
              <v-card-text>
                  <v-text-field  v-model="email" prepend-icon="person" name="login" label="Login" type="text" required></v-text-field>
                  <v-text-field v-model="password" prepend-icon="lock" name="password" label="Password" id="password" type="password" required></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green white--text"  @click.native="loader = 'loading'" type="submit white--text" >Login</v-btn>
              </v-card-actions>
            </form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
</template>
<script>
import firebase from 'firebase'
export default {
  name: 'login',
  data: function () {
    return {
      email: '',
      password: '',
      images: {
        logo: require('@/assets/route66.png')
      }
    }
  },
  methods: {
    signIn () {
      firebase.auth().signInWithEmailAndPassword(this.email, this.password)
        .then((user) =>
          firebase.firestore().collection('Users').doc(user.uid).get())
        .then((snapshot) => {
          this.$store.dispatch('updateUser')
          var role = snapshot.get('rol')
          this.$store.dispatch('updatRole', {role: role})
          if (snapshot.get('rol').localeCompare('Cliente') === 0) {
            this.$router.replace('hello')
          } else if (snapshot.get('rol').localeCompare('Administrador') === 0) {
            this.$router.replace('listaUsuarios')
          } else {}
        }).catch(function (error) {
          alert('Error ' + error.code + ' ' + error.message)
        })
    }
  }
}
</script>

<style scoped>
    .login {
     margin-top: 40px;
    }
    input{
        margin: 10px;
        width: 20%;
        padding: 10px;

    }
    button{
     margin-top: 20px;
     width: 10%;
     cursor: pointer;
    }
    p{
     margin-top: 40px;
     font-size: 13px
    }
    p a{
        text-decoration: underline;
        cursor: pointer;
    }

</style>
