<template>
<v-container fluid grid-list-md>
  <v-layout row wrap>
    <v-flex xs12 sm8 md4>
      <v-card>
        <v-subheader>Niveles</v-subheader>
           <v-list>
            <v-list-tile v-for="level in levels" :key="level.level" avatar @click="selectLvl(level)">
              <v-list-tile-avatar>
                <img :src="level.avatar">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-text="level.name"></v-list-tile-title>
                <v-list-tile-sub-title v-text="level.level"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
      </v-card>
    </v-flex>
    <!-- nivel seleccionado-->
    <v-flex  v-if="selectedLvl" xs12 sm8 md4>
      <v-card class="elevation-12" color="white black--text">
        <v-card-media
          :src="selectedLvl.avatar"
          height="150"
        ></v-card-media>
        <v-card-title primary-title>
        <div class="headline">{{selectedLvl.name}}</div>
        </v-card-title>
        <v-list>
            <v-list-tile v-for="mission in missions" :key="mission.id" avatar @click="selectMission(mission)">
              <v-icon v-if="mission.done" color="yellow">star</v-icon>
              <v-list-tile-avatar>
                <img :src="mission.avatar">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-text="mission.name"></v-list-tile-title>
                <v-list-tile-sub-title v-text="mission.points"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
      </v-card>
      </v-flex>
    <!-- Mision seleccionada-->
    <v-flex  v-if="selectedMission" xs12 sm8 md4>
      <v-card class="elevation-12" color="white black--text">
        <v-card-media
          :src="selectedMission.avatar"
          height="150"
        ></v-card-media>
        <v-card-title primary-title>
        <div class="headline">{{selectedMission.name}}</div>
        </v-card-title>
        <v-card-text>
          {{selectedMission.description}}
        </v-card-text>
      </v-card>
      </v-flex>
    </v-layout>
    </v-container>
</template>
<script>
import firebase from 'firebase'
class Mission {
  constructor (id, oData, data) {
    this.done = data.done
    this.id = id
    this.oid = oData.id
    this.name = oData.name
    this.points = data.points
    this.description = oData.description
    this.avatar = oData.avatar
    this.avatarRef = oData.avatarRef
  }
}
class Level {
  constructor (id, data) {
    this.id = data.id
    this.name = data.name
    this.level = data.level
    this.avatar = data.avatar
    this.avatarRef = data.avatarRef
  }
}
export default {
  name: 'lisinsignias',
  components: {},
  created () {
    this.getLevels()
  },
  data: function () {
    return {
      selectedLvl: null,
      selectedMission: null,
      levels: [],
      missions: [],
      name: null,
      avatar: null,
      colRef: null,
      level: null,
      points: null,
      description: null
    }
  },
  computed: {
    user () {
      return this.$store.getters.getUser
    }
  },
  methods: {
    selectLvl (obj) {
      console.log('gestiono', obj.id)
      this.selectedLvl = Object.assign({}, obj)
      this.getMissions()
    },
    selectMission (obj) {
      console.log('gestiono', obj.id)
      this.selectedMission = Object.assign({}, obj)
    },
    getLevels () {
      var that = this
      firebase.firestore().collection('Levels').onSnapshot(function (querySnapshot) {
        that.levels = []
        querySnapshot.forEach(function (doc) {
          that.levels.push(new Level(doc.id, doc.data()))
        })
      })
    },
    getMissions () {
      var that = this
      firebase.firestore().collection('Users').doc(this.user.id).collection('UserMissions')
        .onSnapshot(function (querySnapshot) {
          that.missions = []
          querySnapshot.forEach(function (snapshot) {
            console.log('buscamos', snapshot.data().oid)
            firebase.firestore().collection('Levels').doc(that.selectedLvl.id)
              .collection('Missions').where('id', '==', snapshot.data().oid).limit(1).get()
              .then(querySnapshot => {
                querySnapshot.forEach(doc => {
                  that.missions.push(new Mission(doc.id, doc.data(), snapshot.data()))
                })
              })
          })
        })
    }
  }
}
</script>

<style scoped>

</style>
