<template>
  <v-content>
    <v-container  fluid fill-height >
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12" color="white black--text">
            <v-card-text>
              <h1> Modificar cuenta</h1>
              <v-layout row>
              <form action="" @submit.prevent="changeName(name)">
                <v-flex xs12><v-text-field type="text"  v-model="name" required></v-text-field></v-flex>
                <v-flex xs3> <v-btn type="submit">Nombre</v-btn></v-flex>
              </form>
              </v-layout>
              <form action="" @submit.prevent="changeEmail(email)">
                <v-text-field type="text"  v-model="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Invalid format" placeholder="Email" required></v-text-field>
                <v-btn type="submit">cambiar Email</v-btn>
              </form>
              <form action="" @submit.prevent="changePassword(password)">
                <v-text-field prepend-icon="lock" type="password" v-model="password" pattern=".{6,}" title="Seis o más carácteres" placeholder="Contraseña" required> </v-text-field>
                <v-text-field prepend-icon="lock" type="password" v-model="password2" placeholder="Repetir Contraseña" required></v-text-field>
                <v-btn type="submit">Cambiar contraseña</v-btn>
              </form>
              <form action="" @submit.prevent="changePhoto(profile_picture)">
                <v-btn raised @click="pickImage"> Subir imagen</v-btn>
                <input type="file" style="display: none" ref="fileInput" accept="image/*" @change="onFilePicked">
                <img :src="profile_picture" height="150">
                <v-text-field type="text"  style="display: none" v-model="profile_picture" required></v-text-field>
                <v-btn type="submit"  style="display: none" >cambiar imagen </v-btn>
              </form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
            </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
</template>

<script>

import firebase from 'firebase'
import Navbar from './Navbar'
import NavbarAdmin from './NavbarAdmin'
export default {
  name: 'modificarperfil',
  props: ['msg'],
  components: {
    Navbar,
    NavbarAdmin
  },
  created () {
    this.user = firebase.auth().currentUser
    this.userdocRef = firebase.firestore().collection('Users').doc(this.user.uid)
    console.log('usuario presente', this.user.uid, this.user.email, this.user.displayName)
    if (this.user) {
      firebase.firestore().collection('Users').doc(this.user.uid).get()
        .then((snapshot) => {
          this.name = snapshot.get('username')
          this.email = snapshot.get('email')
          this.fecha = snapshot.get('fechaNacimiento')
          this.profile_picture = snapshot.get('profile_picture')
          this.rol = snapshot.get('rol')
        })
    }
  },
  data () {
    return {
      userdocRef: null,
      name: null,
      email: null,
      password: null,
      password2: null,
      fecha: null,
      profile_picture: null,
      rol: null,
      user: {}
    }
  },
  methods: {
    changeName (name) {
      this.user = firebase.auth().currentUser
      this.user.updateProfile({displayName: name})
        .then(
          this.userdocRef.update({username: name})
        ).then(this.$store.dispatch('updateUser'))
    },
    pickImage () {
      this.$refs.fileInput.click()
    },
    onFilePicked (event) {
      var ref = firebase.storage().ref('users/')
      const files = event.target.files
      let file = files[0]
      const name = new Date().getTime() + file.name
      console.log(name)
      const metadata = { contentType: file.type }
      const task = ref.child(name).put(file, metadata)
      task.then((snapshot) => {
        const url = snapshot.downloadURL
        console.log(url)
        this.changePhoto(url)
      }).catch((error) => {
        console.error(error)
      })
    },
    changePhoto (photourl) {
      this.user.updateProfile({photoURL: photourl})
        .then(
          this.userdocRef.update({profile_picture: photourl})
        ).then(this.$store.dispatch('updateUser'))
    },
    changeEmail (email) {
      var userdocRef = this.userdocRef
      this.user.updateEmail(email).then(function () {
        userdocRef.update({email: email})
      }).catch(function (error) {
        alert('Error ' + error.code + ' ' + error.message)
      })
    },
    changePassword (newPassword) {
      if (this.password === this.password2) {
        this.user.updatePassword(newPassword)
          .then(alert('contraseña cambiada'))
          .then(this.$router.replace('login'))
      } else alert('las contrasñas no coinciden')
    }
  }
}
</script>
<style scoped>
    signUp {
     margin-top: 40px;
    }
    input{
        margin: 10px 0;
        width: 20%;
        padding: 15px;

    }
    button{
     margin-top: 10px;
     width: 10%;
     cursor: pointer;
    }
    span{
     display: block;
     margin-top: 20px;
     font-size: 11px;

    }

</style>
