<template>
   <v-toolbar color="indigo" dark>
      <v-toolbar-title white>
        route 66 Administracion</v-toolbar-title>
           <v-btn :to="{ name: 'HelloAdmin', params: {msg: 'tonto'}}" flat>
          <v-icon>home</v-icon>
          home
          </v-btn>
        <v-btn :to="{ name: 'ListaUsuarios', params: {msg: 'tonto'}}" flat>
          <v-icon>insert_chart_outlined</v-icon>
          Ranking
          </v-btn>
        <v-btn :to="{ name: 'listaEquipos', params: {msg: 'tonto'}}" flat active-class>
        <v-icon>group</v-icon>
          Equipos
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn :to="{ name: 'modificarPerfil', params: {msg: 'tonto'}}" flat>
          <v-avatar>
            <img :src= "photo">
          </v-avatar> {{this.name}}
        </v-btn>
        <v-btn v-on:click="logout" flat>
         <v-icon>exit_to_app</v-icon>
          Salir
        </v-btn>
    </v-toolbar>
</template>

<script>
import firebase from 'firebase'
export default {
  name: 'NavbarAdmin',
  created () {
    this.user = firebase.auth().currentUser
    this.name = 'error'
    if (this.user) {
      this.name = this.user.displayName
      this.photo = this.user.photoURL
      this.userId = this.user.uid
    }
  },
  data: function () {
    return {
      photo: null,
      userId: 'error',
      name: null,
      user: {}
    }
  },
  methods: {
    home: function () {
      this.$router.replace('hello')
    },
    logout: function () {
      firebase.auth().signOut().then(() => {
        this.$router.replace('login')
      })
    },
    modProfile: function () {
      this.$router.replace({name: 'modificarPerfil', params: {msg: 'listo'}})
    }
  }

}
</script>

<style scoped>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(109, 16, 16);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(61, 5, 5);
}

.active {
    background-color: #4CAF50;
}

</style>
