<template>
    <v-toolbar :color = color>
      <v-toolbar-side-icon
        @click.stop="sideNav = !sideNav"
        class="hidden-sm-and-up "></v-toolbar-side-icon>
      <v-toolbar-title>
        <v-avatar
        :tile= true
        >
          <img :src= images.logo alt="logo"></v-avatar>
        <router-link to="/" tag="span" style="cursor: pointer" id="brand">Route 66</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn
          flat
          :color = buttonColor
          v-for="item in menuItems"
          :key="item.title"
          :to="item.link">
          <v-icon left dark>{{ item.icon }}</v-icon>
          {{ item.title }}
        </v-btn>
        <v-btn
        :color=buttonColor
        v-if="userIsAuthenticated"
        flat
        @click="modProfile">
          <v-avatar>
            <img :src=user.photoUrl>
          </v-avatar>
          {{user.name}}
          </v-btn>
        <v-btn
          v-if="userIsAuthenticated"
          :color=buttonColor
          flat
          @click="logout">
          <v-icon left dark>exit_to_app</v-icon>
          Logout
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
</template>
<script>
import firebase from 'firebase'
export default {
  name: 'Navbar',
  created () {
  },
  data () {
    return {
      sideNav: false,
      images: {
        logo: require('@/assets/route66.png')
      }
    }
  },
  computed: {
    buttonColor () {
      let color = 'black'
      if (this.userIsAuthenticated === 'Cliente') color = ' white'
      else if (this.userIsAuthenticated === 'Administrador') color = 'white'
      return color
    },
    color () {
      let color = 'white black--text'
      if (this.userIsAuthenticated === 'Cliente') color = 'blue white--text'
      else if (this.userIsAuthenticated === 'Administrador') color = 'red white--text'
      return color
    },
    user () {
      return this.$store.getters.getUser
    },
    menuItems () {
      let menuItems = [
        {icon: 'face', title: 'Sign up', link: '/sign-up'},
        {icon: 'lock_open', title: 'Sign in', link: '/login'}
      ]
      if (this.userIsAuthenticated === 'Cliente') {
        menuItems = [
          {icon: 'fas fa-home', title: 'Inicio', link: '/hello'},
          {icon: 'fas fa-map', title: 'Misiones', link: '/misionesusuario'},
          {icon: 'supervisor_account', title: 'Equipos', link: '/equiposusuario'},
          {icon: 'fas fa-gift', title: 'Premios', link: '/premiosusuario'},
          {icon: 'insert_chart_outlined', title: 'Ranking', link: '/ranking'}
        ]
      } else if (this.userIsAuthenticated === 'Administrador') {
        menuItems = [
          {icon: 'person', title: 'Usuarios', link: '/listausuarios'},
          // {icon: 'supervisor_account', title: 'Equipos', link: '/listaequipos'},
          {icon: 'fas fa-trophy', title: ' Insignias', link: '/listainsignias'},
          {icon: 'fas fa-gift', title: 'Premios', link: '/listapremios'},
          {icon: 'fas fa-star', title: 'Logros', link: '/listalogros'},
          {icon: 'fas fa-map', title: 'misiones', link: '/listamisiones'}
        ]
      }
      return menuItems
    },
    userIsAuthenticated () {
      return this.$store.getters.getUserRole
    }

  },
  methods: {
    home () {
      this.$router.replace('hello')
    },
    logout () {
      firebase.auth().signOut().then(() => {
        this.$store.dispatch('clearUser')
        this.$store.dispatch('setLogOutMode')
        this.$router.replace('login')
      })
    },
    modProfile: function () {
      this.$router.replace({name: 'modificarPerfil', params: {msg: 'listo'}})
    }
  }

}
</script>

<style scoped>
#brand {
  font-family: Myriad Pro;
}
img {
  width: 30px;
  height: 30px;
  overflow:hidden;
}

</style>
