<template>
<v-container fluid grid-list-md>
  <v-layout row wrap>
    <v-flex xs12 sm8 md4>
      <v-card>
        <v-subheader>Lista de Premios</v-subheader>
           <v-list>
            <v-list-tile v-for="prize in prizes" :key="prize.id" avatar @click="gestionar(prize)">
              <v-list-tile-avatar>
                <img :src="prize.avatar">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-text="prize.name"></v-list-tile-title>
                <v-list-tile-sub-title v-text="prize.id"></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
      </v-card>
    </v-flex>
    <!-- tarjeta seleccionada-->
    <v-flex  v-if="selectedObj" xs12 sm8 md4>
      <v-card class="elevation-12" color="white black--text">
        <v-card-media
          :src="selectedObj.avatar"
          height="150"
        ></v-card-media>
        <v-card-title primary-title>
        <div class="headline">{{selectedObj.name}}</div>
        </v-card-title>
        <div class="text-xs-center">
          <qriously :value=selectedObj.id :size="150" />
        </div>
        <v-card-text>
          {{selectedObj.description}}
        </v-card-text>
      </v-card>
      </v-flex>
    </v-layout>
    </v-container>
</template>
<script>
import firebase from 'firebase'
class Prize {
  constructor (id, oData, data) {
    this.id = data.id
    this.oid = oData.id
    this.name = oData.name
    this.description = oData.description
    this.avatar = oData.avatar
  }
}
export default {
  name: 'lisinsignias',
  components: {},
  created () {
    this.getPremios(this.user)
  },
  data: function () {
    return {
      selectedObj: null,
      prizes: [],
      name: null,
      avatar: null,
      colRef: null,
      level: null,
      points: null,
      description: null
    }
  },
  computed: {
    user () {
      return this.$store.getters.getUser
    }
  },
  methods: {
    gestionar (obj) {
      console.log('gestiono', obj.id)
      this.selectedObj = Object.assign({}, obj)
    },
    getPremios (user) {
      var that = this
      console.log('current user in get', user.id)
      firebase.firestore().collection('Users').doc(user.id).collection('UserPrizes')
        .onSnapshot(function (querySnapshot) {
          that.prizes = []
          querySnapshot.forEach(function (snapshot) {
            firebase.firestore().collection('Prizes').doc(snapshot.data().oid)
              .onSnapshot(function (doc) {
                that.prizes.push(new Prize(doc.id, doc.data(), snapshot.data()))
              })
          })
        })
    }
  }
}
</script>

<style scoped>

</style>
