<template>
  <v-flex xs12 sm6 offset-sm3>
    <div>
      <v-card color="white black--text">
      <v-card-title>
      <div class="headline">Ranking</div>
      </v-card-title>
          <v-list>
            <v-list-tile v-for="user in usuarios" :key="user.key" avatar>
              <v-list-tile-avatar>
                <img :src="user.profile_picture">
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-text="user.username"></v-list-tile-title>
                <v-list-tile-subtitle v-text="user.puntos">Puntos</v-list-tile-subtitle>
              </v-list-tile-content>
            </v-list-tile>
            <v-spacer></v-spacer>
          </v-list>
      </v-card>
    </div>
    </v-flex>
</template>

<script>
import firebase from 'firebase'
import Navbar from './Navbar'
export default {
  name: 'Ranking',
  components: {
    Navbar
  },
  created () {
    this.getListausuarios()
    this.user = firebase.auth().currentUser
    this.name = 'error'
    if (this.user) {
      this.name = this.user.displayName
      this.email = this.user.email
      this.photo = this.user.photoURL
      this.userId = this.user.uid
    }
  },
  data: function () {
    return {
      usuarios: {},
      photo: null,
      userId: null,
      name: null,
      email: null,
      user: {}
    }
  },
  methods: {
    getListausuarios () {
      this.usuarios = {}
      var UsersRef = firebase.firestore().collection('Users')
      UsersRef.where('rol', '==', 'Cliente').orderBy('puntos', 'desc').get()
        .then(snapshot => {
          snapshot.forEach(doc => {
            this.$set(this.usuarios, doc.id, doc.data())
          })
        }).catch(err => console.log('Error geting documents', err))
    },
    gestionarUsuario (arg) {
      console.log('gestiono', arg)
    }
  }
}
</script>

<style scoped>

</style>
