<template>
<div id="app">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12" color="white black--text">
              <form action="" @submit.prevent="signUp">
              <v-card-text>
                <h1> Sign Up</h1>
                  <v-text-field  v-model="displayName" prepend-icon="person" name="displayName" label="User name" type="text" required></v-text-field>
                  <v-text-field v-model="email" prepend-icon="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" label="email" id="password" type="text" required></v-text-field>
                  <v-text-field  v-model="password" prepend-icon="lock" label="Password" type="password" required></v-text-field>
                  <v-text-field v-model="password2"  prepend-icon="lock"  label="Repeat Password" type="password" required></v-text-field>
                  <v-text-field  v-model="fechaNacimiento" prepend-icon="calendar_today" name="Fecha de nacimiento" label="Fecha de nacimiento" type="date" required></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green white--text" @click.native="loader = 'loading'" type=" large submit" >Sign up</v-btn>
              </v-card-actions>
            </form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
</div>
</template>

<script>/* eslint-disable */


import firebase,{ firestore } from 'firebase'
// import admin from 'firebase-admin'
// var firebase = require('firebase');

export default {
  name: 'signUp',
  created () {},
  data: function () {
    return {
      displayName:null,
      email:null,
      password:null,
      password2:null,
      fechaNacimiento:null,
      }
  },
  methods:{

    signUp:function () {
      if (this.password.localeCompare(this.password2) === 0){
      firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
.     then((user) => {
        // here you can use either the returned user object or       
        //firebase.auth().currentUser. I will use the returned user object
      if(user){
        user.updateProfile({
          displayName: this.displayName,
          photoURL: "http://kempenfeltplayers.com/wp-content/uploads/2015/07/profile-icon-empty-300x300.png"
        }).then((_)=>{
          firebase.firestore().collection('Users').doc(user.uid).set({
            uid: user.uid,
            username: user.displayName,
            email: user.email,
            profile_picture: user.photoURL,
            fechaNacimiento:this.fechaNacimiento,
            rol: 'Cliente',
            nivel: 0,
            puntos: 0,
            uid: user.uid
          })
        }).then(
        (_) => this.$router.replace('login')
      ).catch(function (error) {
        alert('Error ' + error.code + ' ' + error.message);
      })
    }
})
.catch(function(error) {
          alert('Error ' + error.code + ' ' + error.message);
});
      }
      else{
        alert('las contrasñas no coinciden')
        }
    }
  }
}
</script>
<style scoped>
    signUp {
     margin-top: 40px;
    }
    input{
        margin: 10px 0;
        width: 20%;
        padding: 15px;

    }
    button{
     margin-top: 10px;
     width: 10%;
     cursor: pointer;
    }
    span{
     display: block;
     margin-top: 20px;
     font-size: 11px;

    }

</style>
