<template>
<v-content>
    <v-container  fluid fill-height >
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12" color="white black--text">
           <v-subheader>Administrar {{name}} </v-subheader>
          <form action="" @submit.prevent="editRol(rol)">
            <v-card-text>
              <img :src="profile_picture" height="150">
              <v-select v-model="rol"
              :items="roleOptions">
              </v-select>
            </v-card-text>
            <v-card-actions>
              <v-spacer>
              <v-btn color="green white--text" type="submit">editar</v-btn>
              </v-spacer>
            </v-card-actions>
            </form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>

</template>

<script>

import firebase from 'firebase'
export default {
  name: 'UserManagement',
  props: ['userid'],
  components: {},
  created () {
    this.userDocRef = firebase.firestore().collection('Users').doc(this.userid)
    this.userDocRef.get()
      .then((snapshot) => {
        this.profile_picture = snapshot.get('profile_picture')
        this.name = snapshot.get('username')
        this.rol = snapshot.get('rol')
      })
  },
  data: function () {
    return {
      user: {},
      userId: null,
      rol: null,
      roleOptions: [
        'Cliente',
        'Administrador'
      ]
    }
  },
  methods: {
    editRol (rol) {
      this.userDocRef.update({
        rol: rol
      })
    }
  }
}
</script>
<style scoped>
    signUp {
     margin-top: 40px;
    }
    input{
        margin: 10px 0;
        width: 20%;
        padding: 15px;

    }
    button{
     margin-top: 10px;
     width: 10%;
     cursor: pointer;
    }
    span{
     display: block;
     margin-top: 20px;
     font-size: 11px;

    }

</style>
