<template>
  <div id="app">
    <v-app toolbar footer>
    <navbar></navbar>
    <v-parallax :src=images.road
        height="100%"
        jumbotron>
    <v-container class="px-0" >
      <router-view></router-view>
    </v-container>
    </v-parallax>
    <v-footer class="grey darken-3">
    <v-layout row wrap justify-center>
      <v-flex xs12 py-3 text-xs-center white--text>
      &copy;2018 — <strong>Vuetify</strong>
      </v-flex>
    </v-layout>
</v-footer>
</v-app>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      images: {
        road: require('@/assets/road.jpg')
      }
    }
  }
}
</script>

<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
    min-height: 86vh;
}
</style>
